logs
project/project
project/target
target
lib_managed
tmp
.history
dist
.bsp/
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
*.iws
test-project/project/project
test-project/project/target
test-project/target
.bloop/
.metals/
.vscode/
project/.bloop/
project/metals.sbt

